.tabs {
    display: flex;
    background-color: rgb(24 26 31);
    overflow-x: auto;
    
    height: 100%;
    flex-direction: row;
    /* gap: 1px; */
}

.tab {
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color:rgb(33 37 43);
    margin-right: 1px;
    cursor: pointer;
    min-width: fit-content;
    white-space: nowrap;
    color: #ccc;
    font-size: 0.9rem;
    height: 100%;
}

.tab:hover {
    background-color: rgb(56 62 74);
}

.activeTab {
    background-color: rgb(40 44 52);
    border-top: 1px solid rgb(31 240 156);
    color: white;
}

.tabIcon {
    margin-right: 6px;
    font-size: 14px;
    color: rgb(79, 176, 214);
}

.tabLabel {
    margin-right: 8px;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: rgb(100, 100, 100, 0);
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.tab:hover .closeButton {
    color: rgb(173, 173, 173);
}

.closeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}